<!-- Top Navbar -->
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo center">EAT-DA-BURGER!</a>
    </div>
</nav>

<br>
<br>

<!-- Burger Image -->
<div class="container center-align">
    <img class="circle responsive-img" src="assets/img/Burger_1.JPG" width="300px" height="300px" alt="Burger on grill">
</div>

<br>
<br>

<div class="container center-align">
    <div class="row">
        <!-- Burgers to Eat Section -->
        <div class="col s12 m6">
            <div class="card-panel">
                <span class="white-text"><h5>Burgers to Make!</h5></span>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burger/burger-block devoured=0}}
                    {{/unless}}
                {{/each}}
            </div>
        </div>
        <!-- Burgers Devoured Section -->
        <div class="col s12 m6">
            <div class="card-panel">
                <span class="white-text"><h5>Burgers Devoured!</h5></span>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burger/burger-block devoured=1}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Burger Input Field -->
        <form class="create-form col s12 l6 offset-l3">
            <div class="row">
                <div class="input-field col s12">
                    <input id="newBurger" type="text">
                    <label for="newBurger">Enter burger name here</label>
                </div>
            </div>
            <!-- Make/Devour Radio Buttons -->
                  <p>
                    <label>
                      <input class="with-gap" name="devoured" type="radio" value="0" checked />
                      <span class="black-text">Make!</span>
                    </label>
                    <!-- Creat space between the radio buttons -->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                      <input class="with-gap" name="devoured" type="radio" value="1" />
                      <span class="black-text">Devour!</span>
                    </label>
                  </p>
            <!-- Burger Submit Button -->
            <button class="btn-large waves-effect waves-light" id="newBurgerBtn" type="submit" name="new-burger">Submit
                <i class="fas fa-hamburger"></i>
            </button>
        </form>
    </div>
</div>

<br>
<br>

<footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col s12 l6 offset-l3">
            <p class="center-align">Check out the GitHub repo for this application <a href="https://github.com/ryanrotman/homework-13-eat-da-burger" target="_blank">here.</a></p>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
        © 2020 Ryan Rotman
        </div>
    </div>
</footer>