body {
    background-color: #EBDEC2;
}

h5 {
    margin-bottom: 40px;
    font-weight: bold;
    color: #EBDEC2;
    text-decoration: underline;
}

.nav-wrapper {
    background-color: #7E2819;
    font-weight: bold;
}

nav .brand-logo {
    color: #EBDEC2;
}

.card-panel {
    background-color: #7C2918;
}

.card {
    background-color: #D1BC85;
}

.card-content {
    font-size: large;
    font-weight: bold;
}

.btn {
    background-color: #0F0E0B;
}

.btn:hover {
    background-color: #7C2918;
}

.input-field label {
    color: #7C2918;
}

.input-field input[type=text] {
    border-bottom: 1px solid #7C2918;
    box-shadow: 0 1px 0 0 #7C2918;
  }

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #7C2918 !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #7C2918 !important;
    box-shadow: 0 1px 0 0 #7C2918 !important;
}

.input-field [type=text] {
    color: black;
    opacity: 1;
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
    background-color: #7C2918;
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #7C2918;
}

.btn-large {
    background-color: #0F0E0B;
}

.btn-large:hover {
    background-color: #7C2918;
}

.page-footer {
    background-color: #7E2819;
    color: #EBDEC2;
}

footer .footer-copyright .container {
    color: #EBDEC2;
}

@media only screen and (max-width: 768px) {
    nav .brand-logo {
        font-size: 22px;
    }
}